/*
.crop-management-system {
    color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1em auto;
    max-width: 800px;
}


.button {
    font-size: 1.0rem;
    padding: 1.20rem;
    margin: 1.0em;
}

a {
    color: yellow
}

 ul {
    list-style-type: disc;
    padding-left: 20px;
 }

 li {
    color:white;
 } */